<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignacio Labra Web</title>

  <script src=./Jspag/js.js></script>
  <script async src=./Jspag/list.js></script>

  <link rel="stylesheet" as='style' href="./style/loader.css">
  <link rel="preload" as='style' href="./style/style.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as='style' href="./style/cards.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as='style' href="./style/min.css" onload="this.onload=null;this.rel='stylesheet'">

  <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'>
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <link rel="stylesheet" type="text/css" href="./style/cards.css">
    <link rel="stylesheet" type="text/css" href="./style/min.css">
  </noscript>

  <meta name="application-name" content="nacholabraweb">
</head>
<body>
  <div class="center loader"><div class="lds-ripple"><div></div><div></div></div></div>
  <div id='app'>
    <template v-if=load>
      <header>
        <a href="https://nacholabraweb.000webhostapp.com" class="logo">Ignacio Labra Web<span>.</span></a>
        <div class="menuToggle" onclick="toggleMenu()"></div>
        <ul class="navigation" onclick="toggleMenu()">
          <li v-for='link in header'>
            <a :href="link.to">{{ link.name }}</a>
          </li>
        </ul>
      </header>

      <section class="banner" id='banner'>
        <div class="content">
          <h3>Ignacio Labra Web</h3>
          <p>Desarrollo Web y SmartTV </p>
          <a href="#Portafolio" class="btn">Portafolio</a>
        </div>
      </section>

      <section class="about" id="About" v-if=loadSection[0]>
        <div class="row">
          <div class="col50">
            <h2 class="titleText"><span>A</span>cerca de mí</h2>
            <br>
            <p v-for='item in desc_presentacion'>
              {{item}} <br><br>
            </p>
          </div>
          <div class="col50">
            <div class="imgBox">
              <img loading='lazy' src="./images/about.png" width="600" height="300">
            </div>
          </div>
        </div>
      </section>

      <section id="Portafolio" loading='lazy' v-if=loadSection[1]>
        <h2 class="title"><span>P</span>ortafolio</h2>
        <br>
        <div class="conatainer">
          <div class="serviceBox" style="--i:#fff" v-for='item in Portafolio'>

            <div class="imgBox">
              <img loading='lazy' :src="item.img || noimg">
            </div>

            <div class="content">
              <h2> {{item.Titulo}} </h2>
              <p class="text">{{item.parrafo}}</p>
              <div class="icons">
                <a :href="item.links[0].link" target="_blank">
                  <img :src="`./ico/link.svg`" width="18">
                </a>
                <a v-if='item.links[1].link' :href="item.links[1].link" target="_blank">
                  <img :src="`./ico/github.svg`" width="24">
                </a>
                <a v-if='item.Titulo==="NaxChatApp"' href=https://github.com/naxo25/App-Chat-Quasar-VueJs-Firebase/raw/main/dist/Android/naxChat_Capacitor_1.5.2.apk target=_blank>
                  <img :src="`./ico/download.svg`" width="20">
                </a>
              </div>
            </div>
          </div>
        </div>
        <center><a href="https://naxo25.github.io/React-Hooks-conCdn/" class="btn" style="margin-top: 50px;">Ver todo</a></center>
      </section>

      <section id='Redes' class="footer" loading='lazy' v-if=loadSection[2]>
        <div>
          <p class="frase">"Conocerte a si mismo es una cualidad necesaria para volverte mejor persona, para los demás, para contigo mismo y para el éxito."</p>
        </div>
        <div class="social">
          <div v-for='icon in icons' class="icon">
            <a :href="icon.href" target="_blank">
              <img :src="`./ico/${icon.ico}.svg`" width="28">
            </a>
          </div>
        </div>
      </section>
    </template>
  </div>
</body>
</html>
