:root {
  --github: #61DBFB;
  /*--vue: #41B883;*/
  --vue: #41b883;
  --linkedin: #0e76a8;
  --youtube-play: #FF0000;
  --instagram: #E1306C;
  --blue: #09f; }

::-webkit-scrollbar {
  display: none;
  /*width: 12px;*/ }

/*::-webkit-scrollbar-track {background: #ffcc00;border-radius: 50px;}::-webkit-scrollbar-thumb {background: #fff;border-radius: 50px;}*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: rgb(249, 250, 251);
  font-family: 'Poppins', sans-serif;
/*  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;*/
  font-display: swap; 
  text-rendering: optimizeLegibility;
/*  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;*/
/*  font-family: Rubik;*/
}

p {
  font-weight: 300;
  color: #111; }

#app {
  /*display: none;*/
  opacity: 0; }

/* Banner */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  margin-bottom: 3em;
  /*transition: .2s;*/
  /*opacity: 0;*/ }

.banner .content {
  max-width: 900px;
  text-align: center; }

.banner .content h3 {
  font-size: 3.5em;
  color: #fff; }

.banner .content p {
  font-size: 1em;
  color: white;
  font-weight: 500; }

.title {
  padding: 30px;
  text-align: center;
  color: #111;
  font-size: 2em;
  font-weight: 300; }

.title span {
  color: var(--vue);
  font-weight: 700;
  font-size: 1.5em; }

.btn {
  font-size: 1em;
  color: #fff;
  background: var(--vue);
  background: linear-gradient(150deg, var(--vue) 80%, rgba(255, 255, 255, 0.751138) 91%);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: .5s;
  box-shadow: var(--shadow); }

.btn:hover {
  letter-spacing: 6px; }

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  /*transition: .2s;*/ }

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none; }

header .logo span {
  color: var(--vue); }

header .navigation {
  position: relative;
  display: flex; }

header .navigation li {
  list-style: none;
  margin-left: 30px; }

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700; }

/* active */
header.sticky {
  /*box-shadow: 1px rgba(0,0,0,.1);*/
/*  background: #fff;*/
  background: rgb(249, 250, 251);
  padding: 10px 70px;
  transition: .5s; }

header.sticky .navigation li a, header.sticky .logo {
  transition: .5s;
  color: #111; }

header .navigation li a:hover {
  color: var(--vue); }

/* About */
#About {
  padding-top: 0px;
  animation: animation 1s ease;
  margin-top: 90px }

@keyframes animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.row {
  width: 60%;
  margin: auto;
  justify-content: space-between; }

.titleText {
  color: #111;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 1em; }

.titleText span {
  color: var(--vue);
  font-weight: 700;
  font-size: 1.5em; }

.row .text {
  margin-bottom: 3em; }

.row .text p {
  color: black;
  text-align: justify;
  font-weight: 400;
  width: 70%;
  margin: auto; }

.row .col50 .imgBox {
  position: relative;
  width: 70%;
  min-height: 200px;
  margin: auto;
  height: 50%; }

.row .col50 .imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }
